<%= "#{@name} scheduled an absence on #{@date_range}. The following shift occurrences are impacted:" %>

<%- @shifts.each do |shift| %>
   <%= "• #{shift[:starts_at]} - #{shift[:title]}" %>
<% end %>
