p
  = "#{@name} edited a previously scheduled absence:"
ul
  li
    = "Previous absence: #{@old_date_range}"
  li
    = "New absence: #{@updated_date_range}"
p
  = "We've asked the volunteer to add themselves back to any shifts that might be impacted by this change."
