<%= "#{@name} edited a previously scheduled absence:" %>

<%= "• Previous absence:  #{@old_date_range}" %>
<%= "• New absence: #{@updated_date_range}" %>

<%= "We've asked the volunteer to add themselves back to any shifts that might be impacted by this change." %>
