p
  = "You edited an absence previously scheduled in our system. When editing absences, take a minute to add yourself back to any shifts that might have been dropped from your schedule."
p
  = "Your time and attention now saves our staff the logistics later. Thanks!"
