.mdc-form-field[style="display: flex; flex-flow: row;"]
  .mdc-checkbox
    = form.check_box record, class: "mdc-checkbox__native-control", id: "checkbox_#{record}"
    .mdc-checkbox__background
      svg.mdc-checkbox__checkmark viewbox=("0 0 24 24")
        path.mdc-checkbox__checkmark-path d="M1.73,12.91 8.1,19.28 22.79,4.59" fill="none" /
      .mdc-checkbox__mixedmark
    .mdc-checkbox__ripple
  label for="checkbox_#{record}"  = label
