- readonly = false if local_assigns[:readonly].nil?
- helper_text = "" if local_assigns[:helper_text].nil?
- default = "" if local_assigns[:default].nil?

.mdc-form-field
  br
  .mdc-text-field-container
    label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--fullwidth class=(errors.any? ? "mdc-text-field--invalid" : "")
      = date_field(object_name, method, readonly: readonly, class: "mdc-text-field__input", "aria-labelledby" => "my-label-id", placeholder: "dd/mm/yyyy", value: default)
      span.mdc-notched-outline
        span.mdc-notched-outline__leading
        span.mdc-notched-outline__notch
          span#my-label-id.mdc-floating-label = label
        span.mdc-notched-outline__trailing
    - if helper_text.present?
      .mdc-text-field-helper-line
        .mdc-text-field-helper-text.mdc-text-field-helper-text--persistent.mdc-text-field-helper-text--validation-msg[role="alert"]
          = helper_text
    .mdc-text-field-helper-line
      .mdc-text-field-helper-text.mdc-text-field-helper-text--persistent.mdc-text-field-helper-text--validation-msg[role="alert"]
        = errors.length > 0 ? errors.first : ""
