.mdc-form-field
  br
  .mdc-text-field-container
    label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--fullwidth
      = form.email_field object_name, required: false, autofocus: true, input_html: { autocomplete: "email" }, class: "mdc-text-field__input", "aria-labelledby" => "my-label-id"
      span.mdc-notched-outline
        span.mdc-notched-outline__leading
        span.mdc-notched-outline__notch
          span#my-label-id.mdc-floating-label = label
        span.mdc-notched-outline__trailing
