- method = local_assigns[:method] || :get
- data = local_assigns[:data] || {}
- secondary = local_assigns[:secondary] || false

= link_to label, url, data: data, method: method, class: (secondary ? "mdc-button" : "mdc-button mdc-button--raised")
