/ TODO: add logic to handle disabled options and default values
- form = local_assigns[:form] || nil
- onchange = "" if local_assigns[:onchange].nil?
- default = local_assigns[:default] || nil

.mdc-form-field
  br
  .mdc-text-field-container
    label.mdc-select.mdc-select--outlined.mdc-select--fullwidth id="mdc-select--#{id}" class=(errors.any? ? "mdc-select--invalid" : "")
      .mdc-select__anchor[aria-labelledby="outlined-select-label"]
        span.mdc-select__selected-text-container
          span#demo-selected-text.mdc-select__selected-text
          span.mdc-select__dropdown-icon
            svg.mdc-select__dropdown-icon-graphic[viewbox="7 10 10 5"]
              polygon.mdc-select__dropdown-icon-inactive[stroke="none" fill-rule="evenodd" points="7 10 12 15 17 10"]

              polygon.mdc-select__dropdown-icon-active[stroke="none" fill-rule="evenodd" points="7 15 12 10 17 15"]

        span.mdc-notched-outline
          span.mdc-notched-outline__leading
          span.mdc-notched-outline__notch
            span#outlined-select-label.mdc-floating-label
              = label
          span.mdc-notched-outline__trailing
      .mdc-select__menu.mdc-menu.mdc-menu-surface[role="listbox"]
        ul.mdc-list
          - options.each do |option|
            li.mdc-list-item[data-value=option[1] role="option" class=((default.present? && option[1] == default) ? "mdc-list-item--selected" : "")]
              span.mdc-list-item__text
                = option[0]
      div
        - if form.present?
          = form.text_field record, hidden: true, id: id, onchange: onchange, value: default
        - else
          = text_field_tag record, nil, hidden: true, id: id, onchange: onchange, value: default
    .mdc-text-field-helper-line
      .mdc-text-field-helper-text.mdc-text-field-helper-text--persistent.mdc-text-field-helper-text--validation-msg[role="alert"]
        = errors.length > 0 ? errors.first : ""
