- disabled = false if local_assigns[:disabled].nil?
- id = "" if local_assigns[:id].nil?
- target = "" if local_assigns[:target].nil?
- data = {} if local_assigns[:data].nil?

= form.submit label, class: "mdc-button mdc-button--raised", disabled: disabled, id: id, formtarget: target, data: data
  .mdc-button__ripple
  span.mdc-button__label
