.mdc-form-field
  br
  .mdc-text-field-container
    label.mdc-text-field.mdc-text-field--outlined.mdc-text-field--textarea class=(errors.any? ? "mdc-text-field--invalid" : "")
      = form.text_area record, rows: 8, cols: 40, class: "mdc-text-field__input","aria-label" => "Label"
      span.mdc-notched-outline
        span.mdc-notched-outline__leading
        span.mdc-notched-outline__notch
          span#my-label-id.mdc-floating-label = label
        span.mdc-notched-outline__trailing
    .mdc-text-field-helper-line
      .mdc-text-field-helper-text.mdc-text-field-helper-text--persistent.mdc-text-field-helper-text--validation-msg[role="alert"]
        = errors.length > 0 ? errors.first : ""
