html {
  scroll-behavior: smooth; }

h1,h1, h2, h3, h4, h5, h6 {
  font-family: sanchezbold !important;
  color: #274653;
}

html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td {
  font-family:  'Roboto', sans-serif;
}


#intro {
  background: url("../img/svg/carrot-textured.min.svg") no-repeat 80% center;
  background-size: 20%; }

.btn-outline-rootable {
  color: #274653 !important;
  background-color: transparent !important;
  border: 2px solid #274653 !important;
}

.navbar:not(.top-nav-collapse).btn-default, .navbar:not(.top-nav-collapse) .navbar-nav .nav-item .nav-link{
  color: #274653 !important; }

.rootable-primary-background {
  background-color: #274653;
}


.rootable-bold {
  font-weight: bold;
}

.rootable-btn {
  border-radius:  34px !important;
  padding: .48rem 1.07rem !important;
}

.rootable-odd {
  background-color: #F1F6F8 !important; 
  color: #274653 !important;
}

.rootable-even {
  background-color: #ffffff !important; 
  color: #274653 !important;
}

.rootable-yellow {
  color:  #fec42e !important;;
}
.rootable-yellow-background {
  background-color: #fec42e !important;
}

.rootable-link {
  color:  #a45e35 !important;
}

.carousel-indicators li{
    background-color: #fec42e !important;
    opacity: .3;
}

#client .carousel-indicators .active {
  background-color: #fec42e !important; }

.rootable-text {
  color: #274653 !important;
}

.rootable-text-highlight {
  /*background-color: #fec42e;*/
background: hsla(44, 98%, 75%, 1);

background: linear-gradient(90deg, hsla(44, 98%, 75%, 0.1) 0%, hsla(44, 99%, 67%, 0.1) 50%, hsla(44, 99%, 59%, 0.1) 100%);

background: -moz-linear-gradient(90deg, hsla(44, 98%, 75%, 0.1) 0%, hsla(44, 99%, 67%, 0.1) 50%, hsla(44, 99%, 59%, 0.1) 100%);

background: -webkit-linear-gradient(90deg, hsla(44, 98%, 75%, 0.1) 0%, hsla(44, 99%, 67%, 0.1) 50%, hsla(44, 99%, 59%, 0.1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FEDC82", endColorstr="#FED158", GradientType=1 );
  color: #000000;
}

.rootable-green {
  color: #3a7d44 !important;
}

.rootable-green-background {
  background-color: #3a7d44 !important;
}

.site-bg-img {
  height: 100vh;
  min-height: 480px;
  max-height: 1080px; }

.top-nav-collapse {
  background-color: #274653 !important; }

.container .navbar-brand .rootable-logo {
  content: url("../img/rootable-flat-dark.svg");
  width: 43%;
  height: auto;
}

.top-nav-collapse .container .navbar-brand .rootable-logo {
  content: url("../img/rootable-flat-light.svg");
  width: 43%;
  height: auto;
  transition: .35s;
  transition-property: all;
  transition-duration: 0.35s;
  transition-timing-function: ease;
  transition-delay: 0s;}

.navbar:not(.top-nav-collapse) {
  background: transparent !important; }

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #263238 !important; } }

#intro .h6 {
  font-weight: 300;
  line-height: 1.7; }

@font-face {
    font-family: 'sanchezbold';
    src: url('../font/sanchez/sanchez-bold-webfont.eot');
    src: url('../font/sanchez/sanchez-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sanchez/sanchez-bold-webfont.woff2') format('woff2'),
         url('../font/sanchez/sanchez-bold-webfont.woff') format('woff'),
         url('../font/sanchez/sanchez-bold-webfont.ttf') format('truetype'),
         url('../font/sanchez/sanchez-bold-webfont.svg#sanchezbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem; } }

#pricing .lead {
  opacity: 0.7; }

#pricing ul li {
  font-size: 1.1em; }

#client .carousel-indicators li {
  background-color: #3a7d44 !important; }

#client .carousel-indicators .active {
  background-color: #3a7d44 !important; }

#contact .md-form input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #2BBBAD;
  box-shadow: 0 1px 0 0 #2BBBAD; }

#contact .md-form input[type=text]:focus:not([readonly]) + label {
  color: #2BBBAD; }

#contact .md-form textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2BBBAD;
  box-shadow: 0 1px 0 0 #2BBBAD; }

#contact .md-form textarea:focus:not([readonly]) + label {
  color: #2BBBAD; }