.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    .mdc-tab-bar role="tablist"
      .mdc-tab-scroller
        .mdc-tab-scroller__scroll-area.mdc-tab-scroller__scroll-area--scroll
          .mdc-tab-scroller__scroll-content
            = yield
