- method = local_assigns[:method] || :get
- data = local_assigns[:data] || {}
- active = local_assigns[:active] || false
- active_class = active ? "mdc-tab--active" : ""
- tab_indicator = active ? "mdc-tab-indicator--active" : ""
- tabindex = active ? 0 : -1


= link_to url, data: data, method: method, class: "mdc-button mdc-tab #{active_class}", id: id, "aria-selected" => active, role: "tab", tabindex: tabindex
  span.mdc-tab__content
    span.mdc-tab__text-label = label
  span.mdc-tab-indicator class=(tab_indicator)
    span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline style=""
  span.mdc-tab__ripple.mdc-ripple-upgraded
