.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h1 Users
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    == render 'components/link_button', label: 'Invite User', url: new_user_invitation_path(@organization, role: @role)

.mdc-layout-grid__inner.mdc-layout-grid__space-around.tab-bar
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    == render 'components/tab/tab_bar' do
      == render 'components/tab/tab_button', label: "Volunteers", url: organization_users_path(@organization, role: "volunteers"), active: @role == "volunteers", id: "mdc-tab-volunteers"
      == render 'components/tab/tab_button', label: "Admins", url: organization_users_path(@organization, role: "organization_administrators"), active: @role == "organization_administrators", id: "mdc-tab-admins"

- if @users.count.positive?
  .mdc-data-table.mdc-data-table__borderless
    .mdc-data-table__table-container
      table.mdc-data-table__table
        thead
          tr.mdc-data-table__header-row
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Full Name
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Email
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Phone
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Organizations
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell
        tbody.mdc-data-table__contentt
          - @users.each do |user|
            - href= organization_user_path(@organization, user)
            tr.mdc-data-table__row
              == render 'components/clickable_tr', href: href
                = user.full_name
              == render 'components/clickable_tr', href: href
                = user.email
                = user.invitation_accepted_at.nil? ? " (pending)" : ""
              == render 'components/clickable_tr', href: href
                = user.phone
              == render 'components/clickable_tr', href: href
                - user.organizations.each do |org|
                  div = org.name
              td.mdc-data-table__cell.mdc-data-table__cell--action
                - if user.invitation_accepted_at.nil?
                  == render 'components/link_button', label: 'Resend Invite', url: resend_user_invitation_path(@organization.id, user.id), method: :post
- else
  div.empty-message No users to display.