.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h2 = @user.full_name_or_email

p
  strong Address:
  - if @user.address.present?
    br
    = @user.address.street_one
    - if @user.address.street_two.present?
      br
      = @user.address.street_two
    br
    = "#{@user.address.city}, #{@user.address.state} #{@user.address.zip}"

p
  strong Contact:
  br
  = @user.email
  br
  = @user.phone
p
  strong Organizations
  br
    - @user.organizations.each do |orgs|
      p
        = orgs.name
p
  strong Absences
  br
    - if !@user.absences.empty?
      - @user.absences.each do |absence|
        li
          - if absence.starts_at.strftime("%A %b %e, %Y") != absence.ends_at.strftime("%A %b %e, %Y")
            = "#{absence.starts_at.strftime("%A %b %e, %Y")} - #{absence.ends_at.strftime("%A %b %e, %Y")}"
          - else
            = "#{absence.starts_at.strftime("%A %b %e, %Y")}"
    - else
      = "None"
