= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  == f.input :reset_password_token, as: :hidden
  == f.full_error :reset_password_token

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12 style="color: #274653; text-align: center;"
      p Enter new password

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle.mdc-layout-grid__cell--span-12
      == render 'components/password_field', form: f, record: :password, label: "New password", options: { required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { autocomplete: "new-password" } }, errors: resource.errors[:password]

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle.mdc-layout-grid__cell--span-12
      == render 'components/password_field', form: f, record: :password_confirmation, label: "Confirm your new password", options: { required: true, input_html: { autocomplete: "new-password" } }, errors: resource.errors[:password_confirmation]

  == render 'components/submit_button', form: f, label: "Reset Password"