= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12 style="color: #274653; text-align: center;"
      p Enter email address

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/text_field', form: f, record: :email, label: "Email", options: { required: true, autofocus: true, input_html: { autocomplete: "email" } }, errors: resource.errors[:email]
  
  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
    .mdc-layout-grid__inner
      .mdc-layout-grid__cell.mdc-layout-grid__cell--span-3
        == render 'components/submit_button', form: f, label: "Send Email"
      .mdc-layout-grid__cell.mdc-layout-grid__cell--span-3
        == render 'components/link_button', form: f, label: "Cancel", url: new_session_path(resource_name), secondary: true
