.mdc-layout-grid
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-left
    h2 Edit Profile

  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-left
    = form_for(@user, url: current_user_path) do |f|
      - if defined? @organization
        == hidden_field_tag :organization_id, @organization.id
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell
              == render 'components/text_field', form: f, record: :full_name, label: "Name", errors: @user.errors[:full_name]
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell
              == render 'components/text_field', form: f, record: :email, label: "Email", errors: @user.errors[:email]
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell
              == render 'components/select',
                      form: f,
                      id: "time_zone",
                      record: :time_zone,
                      options: time_zones_with_us_zones_first.map { |tz| [tz.name, tz.tzinfo.identifier] },
                      label: "Time Zone",
                      errors:  @user.errors[:time_zone],
                      default: @user.time_zone || "Etc/UTC"

      .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
        .mdc-layout-grid__inner
           .mdc-layout-grid__cell.mdc-layout-grid__cell--span-1
              == render 'components/submit_button', form: f, label: "Submit"
           .mdc-layout-grid__cell.mdc-layout-grid__cell--span-2
              == render 'components/link_button', form: f, label: "Cancel", url: defined?(@organization) ? organization_path(@organization) : root_path, secondary: true
