.mdc-data-table.mdc-data-table__borderless
  .mdc-data-table__table-container
    table.mdc-data-table__table
      thead
        tr.mdc-data-table__header-row
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Shift Name
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Start Date
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell End Date
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Last Updated

      tbody.mdc-data-table__content
        - @shifts.sort_by(&:starts_at).each do |shift|
          - first_occurrence = EventsService.first_occurrence_for_event(shift)
          - flagged = first_occurrence.shift_event.missing_attributes?
          - href = shift_event_occurrence_path(first_occurrence.id)

          tr.mdc-data-table__row class=(flagged ? "mdc-data-table__row--flagged" : "")
            == render 'components/clickable_tr', href: href
              = shift.title

            == render 'components/clickable_tr', href: href
              div
                = shift.starts_at.strftime("%A %b %e, %Y")
              div
                = shift.starts_at.strftime("%l:%M%p")

            == render 'components/clickable_tr', href: href
              div
                = shift.starts_at.strftime("%A %b %e, %Y")
              div
                = shift.starts_at.strftime("%l:%M%p")

            == render 'components/clickable_tr', href: href
              div
                = shift.updated_at.strftime("%A %b %e, %Y")
              div
                = shift.updated_at.strftime("%l:%M%p")
