.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h2 Shifts
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    == render 'components/link_button', label: "Add Shift", url: new_organization_shift_path

.mdc-layout-grid__inner.mdc-layout-grid__space-around.tab-bar
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    == render 'components/tab/tab_bar' do
      == render 'components/tab/tab_button', label: "Recurring", url: organization_shifts_path(@organization, shift_category: "recurring"), active: @shift_category == "recurring", id: "mdc-tab-recurring"
      == render 'components/tab/tab_button', label: "One-Time", url: organization_shifts_path(@organization, shift_category: "one_time"), active: @shift_category == "one_time", id: "mdc-tab-one-time"

- if @shifts.count.positive?
  == render "#{@shift_category}"
- else
  div No shifts to display.
