doctype 5
html
  head
    title Rootable
    = javascript_packs_with_chunks_tag 'volunteer_dashboard/index', 'data-turbolinks-track': 'reload'
    meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"

body
