.mdc-layout-grid__inner
  .mdc-layout-grid__cell
    = form_for [eventable, TaskLog.new], url: shift_event_occurrence_task_logs_path(@occurrence.id), method: "post" do |s|
      - if eventable.errors.any?
        #error_explanation
          h2 = "#{pluralize(eventable.errors.count, "error")} prohibited this organization from being saved:"
          ul
            - eventable.errors.full_messages.each do |message|
              li = message
      = s.fields_for TaskLog.new do |f|
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/select',
            id: "food_taxonomy_id",
            record: "task_log[food_taxonomy_id]",
            options: @food_taxonomies.map { |food_taxonomy| [food_taxonomy.name, food_taxonomy.id] },
            label: "Food Taxonomy",
            errors: eventable.errors[:food_taxonomy_id],
            onchange: "updateTaxonomy(event, #{task.id})"
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
          == render 'components/text_field', form: s, record: :weight, label: "Weight", errors: eventable.errors[:weight], onchange: "updateWeight(event, #{task.id})"
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
          == render 'components/text_field', form: s, record: :temperature, label: "Temp (°F)", errors: eventable.errors[:temperature], onchange: "updateTemperature(event, #{task.id})"

      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/text_area', form: s, record: :notes, label: "Notes", errors: eventable.errors[:notes]
      = s.hidden_field :task_id, value: task.id
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell
          == render 'components/submit_button', form: s, label: "Save Log", disabled: true, id: "submit-button-#{task.id}"

javascript:
  const state = [];
  const updateWeight = (e, taskId) => {
    if (state[taskId] == undefined) {state[taskId] = {}}
    if (state[taskId].validTemperature == undefined) {state[taskId].validTemperature = true}
    if (e.target.value == '' || isNaN(e.target.value) || parseInt(e.target.value) < 0) {
      state[taskId].validWeight = false;
    } else {
      state[taskId].validWeight = true;
    }
    document.getElementById(`submit-button-${taskId}`).disabled = !state[taskId].validTaxonomy || !state[taskId].validWeight || !state[taskId].validTemperature
  }
  const updateTemperature = (e, taskId) => {
    if (state[taskId] == undefined) {
      state[taskId] = {}
    }
    if (e.target.value && isNaN(e.target.value)) {
      state[taskId].validTemperature = false;
    } else {
      state[taskId].validTemperature = true;
    }
    document.getElementById(`submit-button-${taskId}`).disabled = !state[taskId].validTaxonomy || !state[taskId].validWeight || !state[taskId].validTemperature
  }
  const updateTaxonomy = (e, taskId) => {
    if (state[taskId] == undefined) {state[taskId] = {}}
    if (state[taskId].validTemperature == undefined) { state[taskId].validTemperature = true }
    if (e.target.value == '' || isNaN(e.target.value) || parseInt(e.target.value) < 0) {
      state[taskId].validTaxonomy = false;
    } else {
      state[taskId].validTaxonomy = true;
    }
    document.getElementById(`submit-button-${taskId}`).disabled = !state[taskId].validTaxonomy || !state[taskId].validWeight || !state[taskId].validTemperature
  }
