= form_for @occurrence, url: shift_event_occurrence_path(@occurrence.id) do |f|
  .mdc-dialog id="mdc-dialog-custom" role="alertdialog" aria-labelledby="mdc-dialog-custom-label" aria-describedby="mdc-dialog-custom-description"
    .mdc-dialog__container
      .mdc-dialog__surface.mdc-layout-grid
        .mdc-dialog__header
          h3.mdc-dialog__header__title id="mdc-dialog-custom-label"
            | Save recurring event
        .mdc-dialog__body.inner-padding id="mdc-dialog-custom-description"
          .mdc-form-field.mdc-layout-grid__inner
            .mdc-radio.center-self
              input.mdc-radio__native-control type="radio" id="this-radio" name="radios"
              .mdc-radio__background
                .mdc-radio__outer-circle
                .mdc-radio__inner-circle
              .mdc-radio__ripple
            label.mdc-layout-grid__cell--span-6.center-self for="this-radio"
              h3 This event
          .mdc-form-field.mdc-layout-grid__inner
            .mdc-radio.center-self
              input.mdc-radio__native-control type="radio" id="all-radio" name="radios"
              .mdc-radio__background
                .mdc-radio__outer-circle
                .mdc-radio__inner-circle
              .mdc-radio__ripple
            label.mdc-layout-grid__cell--span-6.center-self for="all-radio"
              h3 This and following events
        br
        .mdc-dialog__footer.mdc-layout-grid__inner.inner-padding
          .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
            button.mdc-button.mdc-button--raised.mdc-dialog__button type="button" data-mdc-dialog-action="accept"
              .mdc-button__ripple
              span.mdc-button__label OK
          .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.end-text
            button.mdc-button.mdc-dialog__button type="button" data-mdc-dialog-action="close"
              span.mdc-button__label Cancel
    .mdc-dialog__scrim
    .mdc-dialog__backdrop

  .mdc-layout-grid__inner.mdc-layout-grid__space-around
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
      == render 'components/text_field', form: f, record: :title, label: "Name", errors: @occurrence.errors[:title]
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
      .mdc-layout-grid__inner.mdc-layout-grid__space-around
        #save-button.mdc-button.mdc-button--raised[onclick="openDialog('#{@occurrence.rrule}', #{@occurrence.recurrence? || @future_events_present})"] SAVE
        = f.submit "SAVE THIS EVENT",
                style: "display:none"
        = f.submit "SAVE THIS AND FOLLOWING EVENTS",
                style: "display:none",
                formaction: shift_event_occurrence_path(@occurrence.id, range: "THISANDFUTURE")

  #frequency-form-react[
    data-date="#{Time.zone.at(@occurrence.starts_at).strftime("%Y-%m-%d")}"
    data-start="#{Time.zone.at(@occurrence.starts_at).strftime('%H:%M')}"
    data-end="#{Time.zone.at(@occurrence.ends_at).strftime('%H:%M')}"
    data-rrule="#{@occurrence.rrule}"
  ]
  input#hidden-date[type="hidden" name="hidden_date"]
  input#hidden-start[type="hidden" name="hidden_start"]
  input#hidden-end[type="hidden" name="hidden_end"]
  input#hidden-rrule[type="hidden" name="hidden_rrule"]

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell
      - if @occurrence.errors.any?
        #error_explanation
          h2 = "#{pluralize(@occurrence.errors.count, "error")} prohibited this shift from being saved:"
          ul
            - @occurrence.errors.full_messages.each do |message|
              li = message

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
      .mdc-data-table.mdc-data-table__borderless.mdc-data-table__no-bottom-border
        .mdc-data-table__table-container
          table.mdc-data-table__table
            thead
              tr.mdc-data-table__header-row
                th.mdc-data-table__header-cell Tasks
            tbody.mdc-data-table__content
              - @tasks.each do |task|
                tr.mdc-data-table__row
                  td.mdc-data-table__cell= task.description
                  td.mdc-data-table__cell= check_box_tag "shift_event[task_ids][]", task.id, true

      - if params[:commit] == "ADD TASK"
        == render 'components/select',
                id: "task_id-0",
                record: "shift_event[task_ids][]",
                options: @available_tasks.map { |task| ["#{task.task_type.titleize} at #{task.site.name}", task.id] },
                label: "Task",
                errors: {}
      - else
        = text_field_tag "shift_event[task_ids][]", nil, hidden: true, id: "task_ids-0"

      div
        = f.submit "ADD TASK",
                class: "mdc-button mdc-button--raised",
                formaction: edit_shift_event_occurrence_path(@occurrence.id),
                formmethod: "PUT"

    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
      .mdc-data-table.mdc-data-table__borderless.mdc-data-table__no-bottom-border
        .mdc-data-table__table-container
          table.mdc-data-table__table
            thead
              tr.mdc-data-table__header-row
                th.mdc-data-table__header-cell Volunteers
            tbody.mdc-data-table__content
              - @users.each do |user|
                tr.mdc-data-table__row
                  td.mdc-data-table__cell = user.full_name_or_email
                  td.mdc-data-table__cell = check_box_tag "shift_event[user_ids][]", user.id, true

      - if params[:commit] == "ADD VOLUNTEER"
        == render 'components/select',
                id: "user_id-0",
                record: "shift_event[user_ids][]",
                options: @available_users.map { |user| [user.full_name_or_email, user.id] },
                label: "Volunteer",
                errors: {}
      - else
        = text_field_tag "shift_event[user_ids][]", nil, hidden: true, id: "user_ids-0"

      div
        = f.submit "ADD VOLUNTEER",
                class: "mdc-button mdc-button--raised",
                formaction: edit_shift_event_occurrence_path(@occurrence.id),
                    formmethod: "PUT"

  hr.horizontal-rule

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      .horizontal-scroll-container


        .mdc-layout-grid__inner
          .mdc-layout-grid__cell.mdc-layout-grid__cell
            h3 Notes

        .mdc-layout-grid__inner.horizontal-flex-container
            - @occurrence.eventable.tasks.each do |task|
              .mdc-layout-grid__inner
                .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
                  p
                    div
                      b = task.site.name
                    - if task.site.address
                      div = task.site.address.street_one
                      - if task.site.address.street_two
                        div = task.site.address.street_two
                      div = "#{task.site.address.city}, #{task.site.address.state} #{task.site.address.zip}"
                  p[style="white-space: pre-wrap"] = task.site.instructions

        hr.horizontal-rule

        .mdc-layout-grid__inner
          .mdc-layout-grid__cell
            h3 Logs

        .mdc-layout-grid__inner.horizontal-flex-container
              - @occurrence.eventable.tasks.each do |task|
                .mdc-layout-grid__inner
                  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
                    div
                      p = task.description

        .mdc-layout-grid__inner.horizontal-flex-container
              - @occurrence.eventable.tasks.each do |task|
                .mdc-layout-grid__inner
                  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
                    div
                      - @occurrence.eventable.task_logs.select {|task_log| task_log.task_id == task.id}.each do |task_log|
                        p
                          div = "#{task_log.food_taxonomy&.name} #{task_log.weight} lbs"
                          - if task_log.temperature
                            div = "#{task_log.temperature}° F"
                          - if task_log.notes
                            div = task_log.notes
                          small = "Logged by #{task_log.user.full_name_or_email} at #{Time.zone.at(task_log.created_at).strftime("%F %r")}"

javascript:
  const dialogEl = document.querySelector('.mdc-dialog');
  const dialog = new mdc.dialog.MDCDialog(dialogEl);
  const radios = document.querySelectorAll('.mdc-radio');
  const thisRadio = new mdc.radio.MDCRadio(radios[0]);
  const allRadio = new mdc.radio.MDCRadio(radios[1]);

  const getSelectedRadio = (radioList) => {
    let selected = '';
    radioList.forEach((radio) => {
      if (radio.checked) selected = radio.id;
    })
    return selected;
  }
  const submitForm = () => {
    const radioFields = document.querySelectorAll('.mdc-radio input');
    const selectedRadio = getSelectedRadio(radioFields);
    if (selectedRadio === 'this-radio') {
      document.querySelector('input[value="SAVE THIS EVENT"]').click();
    } else if (selectedRadio === 'all-radio') {
      document.querySelector('input[value="SAVE THIS AND FOLLOWING EVENTS"]').click();
    }
  }

  const openDialog = (oldRrule, isRecurring) => {
    if (isRecurring) {
      if (document.querySelector('#hidden-rrule').value !== oldRrule) {
        thisRadio.disabled = true;
        thisRadio.checked = false;
        allRadio.disabled = false;
        allRadio.checked = true;
        dialog.open();
      } else {
        thisRadio.disabled = false;
        thisRadio.checked = true;
        allRadio.disabled = false;
        allRadio.checked = false;
        dialog.open();
      }
    } else {
      thisRadio.disabled = false;
      thisRadio.checked = true;
      allRadio.disabled = true;
      allRadio.checked = false;
      submitForm();
    }
  }
  dialog.listen('MDCDialog:closed', (e) => {
    if (e.detail.action !== 'accept') return;
    submitForm();
  })
