.mdc-dialog id="mdc-dialog-delete" role="alertdialog" aria-labelledby="mdc-dialog-delete-label" aria-describedby="mdc-dialog-delete-description"
  .mdc-dialog__container
    .mdc-dialog__surface.mdc-layout-grid
      .mdc-dialog__header
        h3.mdc-dialog__header__title id="mdc-dialog-delete-label"
          | Delete recurring event
      .mdc-dialog__body.inner-padding id="mdc-dialog-delete-description"
        .mdc-form-field.mdc-layout-grid__inner
          .mdc-radio.center-self
            input.mdc-radio__native-control type="radio" id="delete-this-radio" name="radios" checked="true"
            .mdc-radio__background
              .mdc-radio__outer-circle
              .mdc-radio__inner-circle
            .mdc-radio__ripple
          label.mdc-layout-grid__cell--span-6.center-self for="delete-this-radio"
            h3 This event
        .mdc-form-field.mdc-layout-grid__inner
          .mdc-radio.center-self
            input.mdc-radio__native-control type="radio" id="delete-all-radio" name="radios" disabled=(@occurrence.recurrence? ? false : true)
            .mdc-radio__background
              .mdc-radio__outer-circle
              .mdc-radio__inner-circle
            .mdc-radio__ripple
          label.mdc-layout-grid__cell--span-6.center-self for="delete-all-radio"
            h3 This and following events
      br
      .mdc-dialog__footer.mdc-layout-grid__inner.inner-padding
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
          button#delete-logs.mdc-button.mdc-dialog__button.mdc-button--raised.center-self type="button" data-mdc-dialog-action="accept" style=(@occurrence.eventable.task_logs.length > 0 ? "" : "display: none")
            span.mdc-button__label OK
          .ok-buttons[style=(@occurrence.eventable.task_logs.length > 0 ? "display: none" : "position: relative")]
            = link_to "OK",
                shift_event_occurrence_path(@occurrence.id),
                method: :delete,
                class: "mdc-button mdc-button--raised delete-button",
                data: { confirm: 'Are you sure?' }
            = link_to "OK",
                shift_event_occurrence_path(@occurrence.id, range: "THISANDFUTURE"),
                method: :delete,
                class: "mdc-button mdc-button--raised delete-button hidden",
                data: { confirm: 'Are you sure?' },
                style: "position: absolute; left: 0;"
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.end-text
          button.mdc-button.mdc-dialog__button type="button" data-mdc-dialog-action="close"
            span.mdc-button__label Cancel
  .mdc-dialog__scrim
  .mdc-dialog__backdrop
.mdc-dialog id="mdc-dialog-logs" role="alertdialog" aria-labelledby="mdc-dialog-logs-label" aria-describedby="mdc-dialog-logs-description"
  .mdc-dialog__container
    .mdc-dialog__surface.mdc-layout-grid
      .mdc-dialog__header
        h3.mdc-dialog__header__title id="mdc-dialog-logs-label"
          | The following logs will be deleted
      .mdc-dialog__body.inner-padding id="mdc-dialog-logs-description" style="background: transparent"
        div class="mdc-data-table"
          div class="mdc-data-table__table-container"
            table aria-label="logs"
              - @occurrence.eventable.tasks.each do |task|
                - @occurrence.eventable.task_logs.select { |task_log| task_log.task_id == task.id }.each do |task_log|
                  tr class="mdc-data-table__row"
                    td class="mdc-data-table__cell" #{Time.zone.at(task_log.created_at).strftime("%m-%d-%Y")}
                    td class="mdc-data-table__cell" #{task.description}
                    td class="mdc-data-table__cell" #{task_log.food_taxonomy&.name} #{task_log.weight} lbs
      br
      .mdc-dialog__footer.mdc-layout-grid__inner.inner-padding
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
          .ok-buttons[style="position: relative"]
            = link_to "OK",
              shift_event_occurrence_path(@occurrence.id),
              method: :delete,
              class: "mdc-button mdc-button--raised delete-button"
            = link_to "OK",
              shift_event_occurrence_path(@occurrence.id, range: "THISANDFUTURE"),
              method: :delete,
              class: "mdc-button mdc-button--raised delete-button hidden",
              style: "position: absolute; left: 0;"
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6.end-text
          button.mdc-button.mdc-dialog__button type="button" data-mdc-dialog-action="close"
            span.mdc-button__label Cancel
  .mdc-dialog__scrim
  .mdc-dialog__backdrop
.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h2 = @occurrence.title
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    .mdc-layout-grid__inner
      .mdc-layout-grid__cell
      .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
        button#icon.mdc-icon-button.material-icons[onclick="openDeleteDialog(#{@occurrence.recurrence?}, #{@occurrence.eventable.task_logs.length > 0})" title="Delete event"]
          div.custom-icon.delete-icon
      .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
        == render 'components/link_button',
                label: "Edit",
                url: edit_shift_event_occurrence_path(@occurrence.id)

.mdc-layout-grid__inner
  .mdc-layout-grid__cell
    h4= Time.zone.at(@occurrence.starts_at).strftime("%A %B %d")
    h4= "#{Time.zone.at(@occurrence.starts_at).strftime('%l:%M%p')}-#{Time.zone.at(@occurrence.ends_at).strftime('%l:%M%p')}"
    h4= @occurrence.rrule_str

.mdc-layout-grid__inner
  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
    h3 Tasks
    .mdc-data-table.mdc-data-table__borderless.mdc-data-table__no-bottom-border
      .mdc-data-table__table-container
        table.mdc-data-table__table
          tbody.mdc-data-table__content
            - @occurrence.eventable.tasks.each do |task|
              tr.mdc-data-table__row
                td.mdc-data-table__cell= task.description

  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6
    h3 Volunteers
    .mdc-data-table.mdc-data-table__borderless.mdc-data-table__no-bottom-border
      .mdc-data-table__table-container
        table.mdc-data-table__table
          tbody.mdc-data-table__content
            - @occurrence.eventable.users.each do |user|
              tr.mdc-data-table__row
                td.mdc-data-table__cell = user.full_name_or_email

hr.horizontal-rule

.mdc-layout-grid__inner
  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
    .horizontal-scroll-container
      .mdc-layout-grid__inner.horizontal-flex-container
        - @occurrence.eventable.tasks.each do |task|
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
              p
                div
                  b
                    = task.site.name
                  = " "
                  - if task.site.website.present?
                    a[href="#{task.site.website}"] ="(Website)"
                - if task.site.address
                  div = task.site.address.street_one
                  - if task.site.address.street_two
                    div = task.site.address.street_two
                  div = "#{task.site.address.city}, #{task.site.address.state} #{task.site.address.zip}"
      .mdc-layout-grid__inner.horizontal-flex-container
        - @occurrence.eventable.tasks.each do |task|
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
              h3 Admin Notes
              p[style="white-space: pre-wrap"] = task.site.admin_notes

      .mdc-layout-grid__inner.horizontal-flex-container
        - @occurrence.eventable.tasks.each do |task|
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
              h3 Volunteer Instructions
              p[style="white-space: pre-wrap"] = task.site.instructions

      .mdc-layout-grid__inner.horizontal-flex-container
        - @occurrence.eventable.tasks.each do |task|
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
              == render 'components/link_button',
                label: "Add Notes",
                url: edit_organization_site_path(task.site.organization, task.site.id)

      hr.horizontal-rule

      .mdc-layout-grid__inner
        .mdc-layout-grid__cell
          h3 Logs

      .mdc-layout-grid__inner.horizontal-flex-container
        - @occurrence.eventable.tasks.each do |task|
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
              div
                p = task.description

      .mdc-layout-grid__inner.horizontal-flex-container
        - @occurrence.eventable.tasks.each do |task|
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
              div
                - @occurrence.eventable.task_logs.select {|task_log| task_log.task_id == task.id}.each do |task_log|
                  p
                    div = "#{task_log.food_taxonomy&.name} #{task_log.weight} lbs"
                    - if task_log.temperature
                      div = "#{task_log.temperature}° F"
                    - if task_log.notes
                      div = task_log.notes
                    small = "Logged by #{task_log.user.full_name_or_email} at #{Time.zone.at(task_log.created_at).strftime("%F %r")}"

      .mdc-layout-grid__inner.horizontal-flex-container
        - @occurrence.eventable.tasks.each do |task|
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-10
              div
                = render 'task_log_form', eventable: @occurrence.eventable, task: task

javascript:
  const deleteDialogEl = document.querySelector('#mdc-dialog-delete');
  const deleteDialog = new mdc.dialog.MDCDialog(deleteDialogEl);
  const logsDialogEl = document.querySelector('#mdc-dialog-logs');
  const logsDialog = new mdc.dialog.MDCDialog(logsDialogEl);
  const radios = document.querySelectorAll('.mdc-radio');

  const toggleDeleteButtons = () => {
    const deleteButtons = document.querySelectorAll('.delete-button');
    deleteButtons.forEach((button) => {
      button.classList.toggle('hidden');
    });
  }

  radios.forEach((r) => {
    r.addEventListener('change', () => {
      toggleDeleteButtons();
    })
  })

  const openDeleteDialog = (recurrence, hasLogs) => {
    if (recurrence) {
      deleteDialog.open();
    } else if (!hasLogs) {
      document.querySelectorAll('.delete-button')[0].click();
    } else {
      logsDialog.open();
    }
  }

  deleteDialog.listen('MDCDialog:closed', (e) => {
    if (e.detail.action !== 'accept') return;
    logsDialog.open();
  })
  logsDialog.listen('MDCDialog:closed', (e) => {
    if (e.detail.action !== 'accept') return;
  })
