= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12 style="color: #274653; text-align: center;"
      p Please sign in

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/email_field', form: f, object_name: :email, label: "Email"

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle.mdc-layout-grid__cell--span-12
      == render 'components/password_field', form: f, record: :password, label: "Password", options: { required: false, input_html: { autocomplete: "current-password" } }, errors: resource.errors[:password]
    
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6-desktop.mdc-layout-grid__cell--span-2-phone.mdc-layout-grid--align-left
      - if devise_mapping.rememberable?
        ==  render 'components/check_box', form: f, record: :remember_me, label: "Remember me"

    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-6-desktop.mdc-layout-grid__cell--span-2-phone.mdc-layout-grid--align-right
      == render 'components/submit_button', form: f, label: "Log in"
  
  == render 'components/link_button', form: f, label: "Forgot Password", url: new_password_path(resource_name), secondary: true
