
= simple_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f|

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12 style="color: #274653; text-align: center;"
      p
        = t "devise.invitations.edit.header"
        = f.hidden_field :invitation_token

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/text_field', form: f, record: :full_name, label: I18n.t('devise.invitations.edit.name'), errors: resource.errors[:full_name]

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle.mdc-layout-grid__cell--span-12
      == render 'components/password_field', form: f, record: :password, label:  I18n.t('devise.invitations.edit.password'), errors: resource.errors[:password]

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle.mdc-layout-grid__cell--span-12
      == render 'components/password_field', form: f, record: :password_confirmation, label:  I18n.t('devise.invitations.edit.password_confirmation'), errors: resource.errors[:password_confirmation]

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle.mdc-layout-grid__cell--span-12
      == render 'components/select',
              form: f,
              id: "time_zone",
              record: :time_zone,
              options: time_zones_with_us_zones_first.map { |tz| [tz.name, tz.tzinfo.identifier] },
              label: "Time Zone",
              errors: [],
              default: resource.time_zone || "Etc/UTC"

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle.mdc-layout-grid__cell--span-12.mdc-layout-grid--align-right
      == render 'components/submit_button', form: f, label:  I18n.t('devise.invitations.edit.submit_button')
