- role = User.role_from_string(params[:role])

.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h2 = t "devise.invitations.new.header"

= simple_form_for(resource, as: resource_name, url: create_user_invitation_path(@organization_id, resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell
      == render 'components/select',
        id: 'user_roles',
        form: f,
        record: :roles,
        options: [['Volunteer', User::VOLUNTEER], ['Organization Admin', User::ORGANIZATION_ADMINISTRATOR]],
        label: "Role",
        errors: resource.errors[:user_roles],
        default: role

  - resource.class.invite_key_fields.each do |field|
    .mdc-layout-grid__inner
      .mdc-layout-grid__cell
        == render 'components/text_field', form: f, record: field, label: field.capitalize, errors: resource.errors[field]
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell
        == render 'components/submit_button', form: f, label: "Submit"
        == render 'components/link_button', label: "Cancel", url: organization_path(@organization_id), secondary: true
