@import "_variables";

html {
  position: relative;
  min-height: 100%;
  font-family: $font-family;
  font-size: 100%;
}

body {
  margin: 0 0 $footer-height;
  --mdc-theme-primary: #274653;
  //--mdc-theme-secondary: ?
  --mdc-theme-background: #F1F6F8;
  --mdc-theme-surface: #FFF;
  --mdc-theme-error: #b00020;
  //--mdc-theme-on-primary: #fff;
  //--mdc-theme-on-secondary: #fff;
  //--mdc-theme-on-surface: #000;
  //--mdc-theme-on-error: #fff;
  //--mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  //--mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  //--mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  //--mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  //--mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  //--mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  //--mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  //--mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  //--mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  //--mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  //--mdc-theme-text-primary-on-dark: white;
  //--mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  //--mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  //--mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  //--mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);

  background-color: var(--mdc-theme-background);
}

h1 {
  font-weight: 500;
  color: var(--mdc-theme-primary)
}

h2 {
  font-weight: 400;
  color: var(--mdc-theme-primary)
}

h3 {
  font-weight: 400;
  color: var(--mdc-theme-primary)
}

h4 {
  font-weight: 400;
  color: var(--mdc-theme-primary)
}

.center-text {
  text-align: center;
}

.center-self {
  align-self: center;
}

.top-pad {
  padding-top: 25px;
}

.end-text {
  text-align: end;
}

.container {
  position: relative;
  padding: 44px;
  margin-left: 100px;
  margin-left: 100px;
  width: calc(100% - 88px - 100px);
}

.empty-message {
  margin-top: 1rem;
}

.horizontal-scroll-container {
  width: 100%;
  overflow: auto;
}

.horizontal-flex-container {
  display: flex;
  flex-flow: row nowrap;
}

.horizontal-flex-container > * {
  width: 600px;
}

.horizontal-rule {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.12);
  margin: 30px 0;
}

.mdc-layout-grid__space-around {
  display: flex !important;
  justify-content: space-between;
}

.mdc-text-field-container {
  width: 100%;
}
.mdc-form-field {
  flex-flow: row wrap;
}

.mdc-form-field, .mdc-form-field label {
  width: 100%;
  margin: 5px 0;
}

.mdc-form-field .mdc-select {
  background: white;
}
.mdc-select--fullwidth{
  width: 100%;
}

.mdc-form-field>label {
  padding-left: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 288px);
  margin: 20px 144px;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.inner-padding {
  padding: 0 1.5em 0;
}

.hidden {
  visibility: hidden;
}
