$picker-size: 2em;

.picker {
  display: flex;
  flex-wrap: wrap;
  max-width: 20em;
  position: relative;
}

.picker__container {
  background-color: #eee;
  border: 2px solid rgb(76,96,107);
  cursor: pointer;
  font-size: 1.25em;
  height: $picker-size;
  position: relative;
  width: $picker-size;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover input ~ .picker__indicator {
    background-color: #ccc;
  }

  input:checked ~ .picker__indicator {
    background-color: rgb(241,198,82);
  }
}

.picker__container input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.picker__indicator {
  display: block;
  height: $picker-size;
  left: 0;
  line-height: 2em;
  position: absolute;
  text-align: center;
  top: 0;
  width: $picker-size;
}
