.body-container {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  min-width: 900px;
  max-width: 1800px;
}

.siderail {
  width: 100px;
  display: flex;
  flex-flow: column;
  position: fixed;
  background-color: var(--mdc-theme-primary);
  height: 100%;
  z-index: 10;
}

.siderail button {
  height: 100px;
  width: 100px;
}
.siderail a {
  color: var(--mdc-theme-primary);
}

.mdc-top-app-bar__row {
  background: white;
  color: black;
}

.mdc-top-app-bar a {
  color: black;
  text-decoration: none;
}

.mdc-icon-button {
  height: 100%;
  width: 100%;
}

.mdc-icon-button * {
  margin: auto;
}

.siderail .siderail__button--active {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
}

.custom-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 28px;
  height: 28px;
}

.rootable-icon {
  background-image: url('/rootable-icon.svg');

}

.users-icon {
  background-image: url('/users-icon.svg');
}

.sites-icon {
  background-image: url('/sites-icon.svg');
}

.shifts-icon {
  background-image: url('/shifts-icon.svg');
}

.settings-icon {
  background-image: url('/settings-icon.svg');
}

.organizations-icon {
  background-image: url('/organizations-icon.svg');
}

.delete-icon {
  background-image: url('/delete-icon-dark.svg');
}
