.mdc-data-table__borderless h3 {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 0;
}

.mdc-data-table.mdc-data-table__borderless {
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}

.mdc-data-table.mdc-data-table__borderless.mdc-data-table__no-bottom-border {
  border-bottom-style: none;
}

.mdc-data-table__cell {
  color: var(--mdc-theme-primary);
  height: 72px;
  border-top: 0.5px solid rgba(88, 100, 116, 0.6);
  border-bottom: 0.5px solid rgba(88, 100, 116, 0.6);
}

.mdc-data-table__cell:nth-child(2) {
  font-weight: 500;
}

.mdc-data-table__cell:first-child {
  border-left: 0.5px solid rgba(88, 100, 116, 0.6);
  border-radius: 4px 0px 0px 4px;
}

.mdc-data-table__cell:last-child {
  border-right: 0.5px solid rgba(88, 100, 116, 0.6);
  border-radius: 0px 4px 4px 0px;
}

.mdc-data-table__row {
  background-color: var(--mdc-theme-surface);
  border: 1px solid red;
}

.mdc-data-table__cell--fill {
  width: 100%;
}

.mdc-data-table__cell--action {
  width: 1px;
}

.mdc-data-table {
  width: 100%;
  background-color: var(--mdc-theme-background);
}

.mdc-data-table__table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.mdc-data-table__header-cell {
  background-color: var(--mdc-theme-background);
}

.mdc-data-table__row--flagged .mdc-data-table__cell:first-child {
  background: linear-gradient(to right, #F3AE29 5px, transparent 5px);
}

.mdc-data-table__row--clickable {
  cursor: pointer;
}

.mdc-data-table__cell--link {
  display: block;
  height: 100%;
  text-decoration: none;
  color: var(--mdc-theme-primary);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
}

.mdc-data-table__cell--link-container {
  padding: 0;
} 

.mdc-data-table__table-container {
  overflow-x: visible;
}