.mdc-tab {
  .mdc-tab__text-label {
    color: var(--mdc-theme-primary);
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
  }

  i {
    color: #A45E35;
    font-size: 24px;
  }
}

.tab-bar {
  border-bottom: 1px solid #A45E35;
}

.mdc-tab-indicator__content.mdc-tab-indicator__content--underline {
  border-color: #A45E35;
  border-width: 5px;
}
