input.textfield{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  width: 100px;
  height: 50px;
}

select.thing {
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  width: 100px;
  height: 50px;
}

// display the date picker icon in chrome
.mdc-text-field__input::-webkit-calendar-picker-indicator {
  display: block !important;
}

.mdc-text-field--outlined .mdc-text-field__input,
.mdc-text-field--outlined.mdc-text-field,
.mdc-text-field.mdc-text-field--outlined.mdc-text-field--label-floating {
  background-color: #FFF;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary)
}

.mdc-text-field-helper-text {
  color: var(--mdc-theme-primary);
}
