html {
  scroll-behavior: smooth;
}

#intro {
  background: url("../img/blue-grey.jpg") no-repeat center center;
  background-size: cover;
}

.site-bg-img {
  height: 100vh;
  min-height: 480px;
  max-height: 1080px;
}

.top-nav-collapse {
  background-color: #263238 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #263238 !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

#pricing {
  .lead {
    opacity: 0.7;
  }

  ul li {
    font-size: 1.1em;
  }
}

#client {
  .carousel-indicators {
    li  {
      background-color: #9e9e9e !important;
    }
    
    .active {
      background-color: #3f51b5 !important;
    }
  }
}

#contact {
  .md-form input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #2BBBAD;
    -webkit-box-shadow: 0 1px 0 0 #2BBBAD;
    box-shadow: 0 1px 0 0 #2BBBAD; 
  }
  
  .md-form input[type=text]:focus:not([readonly]) + label {
    color: #2BBBAD; 
  }

  .md-form textarea:focus:not([readonly]) {
    border-bottom: 1px solid #2BBBAD;
    -webkit-box-shadow: 0 1px 0 0 #2BBBAD;
    box-shadow: 0 1px 0 0 #2BBBAD; 
  }

  .md-form textarea:focus:not([readonly]) + label {
    color: #2BBBAD; 
  }
}

