- record_object = local_assigns[:record_object] || nil

= form.fields_for :address_attributes, record_object do |ff|
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/text_field', form: ff, record: :street_one, label: "Address 1", errors: []
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/text_field', form: ff, record: :street_two, label: "Address 2", errors: []
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/text_field', form: ff, record: :city, label: "City", errors: []
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/text_field', form: ff, record: :state, label: "State", errors: []
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/text_field', form: ff, record: :zip, label: "Zip Code", errors: []
