.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h1 Export Data

.mdc-layout-grid__inner
  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
    p
    | Specify a date range to export shift log data.
    p


= form_for(@organization, as: :export, url: organization_csv_exporters_path(@organization), html: { method: :post }) do |f|
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/date_field',
      form: f,
      object_name: :export,
      method: "start_date",
      label: "Start Date",
      errors: [],
      default: Date.current.at_beginning_of_month.iso8601
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/date_field',
        form: f,
        object_name: :export,
        method: "end_date",
        label: "End Date",
        errors: [],
        default: Date.current.at_end_of_month.iso8601

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      == render 'components/submit_button', form: f, label: "Generate CSV", data: {disable_with: false}

  .mdc-layout-grid__inner
    .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
      p
        | Note: Only pickup logs are included the export. Shifts with no logs are excluded.
