.mdc-layout-grid__inner
  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
    = form_for @organization do |f|
      - if @organization.errors.any?
        #error_explanation
          h2 = "#{pluralize(@organization.errors.count, "error")} prohibited this organization from being saved:"
          ul
            - @organization.errors.full_messages.each do |message|
              li = message

      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/text_field', form: f, record: :name, label: "Name", errors: @organization.errors[:name]
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/text_field', form: f, record: :tagline, label: "Tagline", errors: @organization.errors[:tagline]

      == render 'addresses/form', form: f, record_object: @organization.address

      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/text_field', form: f, record: :email, label: "Email", errors: @organization.errors[:email]
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell
          == render 'components/text_field', form: f, record: :internal_alerts_email, label: "Rootable Alerts Contact Email", errors: @organization.errors[:internal_alerts_email]
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/text_field', form: f, record: :phone, label: "Phone", errors: @organization.errors[:phone]
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/text_field', form: f, record: :federal_tax_id, label: "Federal Tax-ID", errors: @organization.errors[:federal_tax_id]
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/select',
                  form: f,
                  id: "time_zone",
                  record: :time_zone,
                  options: time_zones_with_us_zones_first.map { |tz| [tz.name, tz.tzinfo.identifier] },
                  label: "Time Zone",
                  errors: [],
                  default: @organization.time_zone || "Etc/UTC"
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
            == render 'components/submit_button', form: f, label: "Submit"
            == render 'components/link_button', label: "Cancel", url: @organization, secondary: true
