.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h2 Edit Organization

== render 'form'

br
hr
br
br
.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    = link_to "Logout", destroy_user_session_path, method: :get, class: "mdc-button mdc-button--raised"
