.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h1 Organizations
  - if policy(Organization).new?
    .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
      == render 'components/link_button', label: "New Organization", url: new_organization_path

.mdc-data-table.mdc-data-table__borderless
  .mdc-data-table__table-container
    table.mdc-data-table__table
      thead
        tr.mdc-data-table__header-row
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Name
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Organization Admins
          th.mdc-data-table__header-cellth.mdc-data-table__header-cell Donors
          - if policy(Organization).destroy?
            th.mdc-data-table__header-cellth.mdc-data-table__header-cell

      tbody.mdc-data-table__content
        - @organizations.each do |organization|
          - href = organization_path(organization.id)
          tr.mdc-data-table__row
            == render 'components/clickable_tr', href: href
              = organization.name
            == render 'components/clickable_tr', href: href
              - organization.org_admins.each do |user|
                div
                  = user.full_name_or_email
                  = user.invitation_accepted_at.nil? ? " (Pending)" : ""
            == render 'components/clickable_tr', href: href, class: "mdc-data-table__cell--fill"
              - organization.sites.donors.each do |donor|
                div
                  = donor.name
            - if policy(organization).destroy?
              td.mdc-data-table__cell.mdc-data-table__cell--action
                == render 'components/link_button', label: 'Destroy', url: organization, data: { confirm: 'Are you sure?' }, method: :delete

