.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h1 = "Hello, #{@organization.name}"

.mdc-layout-grid__inner.mdc-layout-grid__space-around.tab-bar
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    == render 'components/tab/tab_bar' do
      = link_to organization_path(@organization, starts_at: (@starts_at - 7.days).iso8601),
              class: "mdc-button mdc-tab mdc-act",
              id: "previous-week",
              "aria-selected" => false,
              role: "tab",
              tabindex: 0
        i.material-icons.md-24 keyboard_arrow_left

      = link_to organization_path(@organization, starts_at: @starts_at),
              class: "mdc-button mdc-tab mdc-act",
              id: "current-week",
              "aria-selected" => true,
              role: "tab",
              tabindex: 1
        span.mdc-tab__content
          span.mdc-tab__text-label= "#{@starts_at.strftime("%b %d")}-#{@ends_at.strftime("%b %d")}"
        span.mdc-tab-indicator class="mdc-tab-indicator--active"
          span.mdc-tab-indicator__content.mdc-tab-indicator__content--underline style=""
        span.mdc-tab__ripple.mdc-ripple-upgraded

      = link_to organization_path(@organization, starts_at: (@starts_at + 7.days).iso8601),
              class: "mdc-button mdc-tab mdc-act",
              id: "next-week",
              "aria-selected" => false,
              role: "tab",
              tabindex: 2
        i.material-icons.md-24 keyboard_arrow_right
- if @occurrences.count.positive?
  .mdc-data-table__table-container
    table.mdc-data-table__table
      tbody.mdc-data-table__content
        - occurrence_groupings = @occurrences.group_by { |occur| Time.zone.at(occur.starts_at).strftime("%A %b %d") }
        - occurrence_groupings.each do |day, occurrences|
            thead
              tr
                td
                  h3 = day

            - if day == occurrence_groupings.keys.first
              tr.mdc-data-table__header-row
                th.mdc-data-table__header-cellth.mdc-data-table__header-cell Time
                th.mdc-data-table__header-cellth.mdc-data-table__header-cell Shift Name
                th.mdc-data-table__header-cellth.mdc-data-table__header-cell Tasks
                th.mdc-data-table__header-cellth.mdc-data-table__header-cell
                th.mdc-data-table__header-cellth.mdc-data-table__header-cell
                th.mdc-data-table__header-cellth.mdc-data-table__header-cell Volunteers

            - occurrences.each do |occurrence|
              - tasks = occurrence.eventable.tasks
              - flagged = occurrence.ends_at.past? ? occurrence.shift_event.missing_task_log? : occurrence.shift_event.missing_attributes?
              - href = shift_event_occurrence_path(occurrence.id)
              tr.mdc-data-table__row class=(flagged ? "mdc-data-table__row--flagged" : "")
                == render 'components/clickable_tr', href: href
                  = "#{Time.zone.at(occurrence.starts_at).strftime("%-l:%M")} - #{Time.zone.at(occurrence.ends_at).strftime("%l:%M%p")}"
                == render 'components/clickable_tr', href: href
                  = occurrence.title
                == render 'components/clickable_tr', href: href
                  = tasks.length >= 1 ? tasks[0].description : ""
                == render 'components/clickable_tr', href: href
                  = tasks.length >= 2 ? tasks[1].description : ""
                == render 'components/clickable_tr', href: href
                  = tasks.length >= 3 ? tasks[2].description : ""
                == render 'components/clickable_tr', href: href
                  - occurrence.event.shift_event.volunteers.take(2).each do |v|
                    div= v.full_name_or_email
- else
  div.empty-message No shifts to display in this time frame.