p
  = t("devise.mailer.invitation_instructions.hello", email: @resource.email)

p
  = t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url, organization: @resource.organizations.last.name)

p
  = link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token)

- if @resource.invitation_due_at
  p
    = t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format'))

p
  = t("devise.mailer.invitation_instructions.ignore")
