= t("devise.mailer.invitation_instructions.hello", email: @resource.email)
= "\n\n"
= t("devise.mailer.invitation_instructions.someone_invited_you", url: root_url, organization: @resource.organizations.last.name)
= "\n\n"
= accept_invitation_url(@resource, invitation_token: @token)
= "\n\n"
- if @resource.invitation_due_at
  = t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format'))
= "\n\n"
= t("devise.mailer.invitation_instructions.ignore")
