doctype 5
html
  head
    title = @receipt.filename
    style
      | body, html { font-family: 'Arial'; }
      | table, th, td { border: 1px solid black; border-collapse: collapse; }
      | td { padding: 10px; }
      | .center { text-align: center; }
      | .left { float: left; }
      | .right { float: right; }
      | .clearfix::after {
      |   content: "";
      |   clear: both;
      |   display: table;
      | }
body
  div.center
    h1 = @receipt.organization.name
    - if @receipt.organization.tagline.present?
      h3 = @receipt.organization.tagline
    - if @receipt.organization.address.present?
      p = @receipt.address
    - if @receipt.organization.email.present?
      p = @receipt.organization.email
    - if @receipt.organization.phone.present?
      p = @receipt.organization.phone
  div.clearfix
    span.left = "Receipt period: #{@receipt.starts_at.strftime("%m-%d-%Y")} to #{@receipt.ends_at.strftime("%m-%d-%Y")}"
    span.right = "Federal Tax-ID: #{@receipt.organization.federal_tax_id}"
  div.center
    p = "Receipt for: #{@receipt.donor.name}"
  table
    tr
      th Date
      th Description
      th Log #
      th Weight (lbs)
      th Temperature (Fahrenheit)
    - @receipt.task_logs.each do |log|
      tr
        td = log.created_at.strftime("%m-%d-%Y")
        td = log.food_taxonomy&.name
        td = log.id
        td = log.weight
        td = log.temperature
    tr
      td Total:
      td
      td
      td = @receipt.total
  div.center = "This receipt was generated by Rootable at #{@receipt.created_at}"
