h2 Generate receipts

.mdc-layout-grid__inner
  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
    = form_for @organization, url: organization_receipts_path(@organization.id), method: 'post' do |f|
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/select',
            id: "site_id",
            record: :site_id,
            options: @donors.map { |donor| [donor.name, donor.id] },
            label: "Donor",
            errors: [],
            default: @selected_site_id
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/date_field',
                  form: f,
                  object_name: "",
                  method: "starts_at",
                  label: "Starts at",
                  errors: [],
                  default: Date.current.at_beginning_of_month.iso8601
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/date_field',
                  form: f,
                  object_name: "",
                  method: "ends_at",
                  label: "Ends at",
                  errors: [],
                  default: Date.current.at_end_of_month.iso8601
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/submit_button', form: f, label: "Enter", target: "_blank"
