.mdc-layout-grid__inner
  .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
    = form_with model: [@organization, @site], local: true do |f|
      - if @site.errors.any?
        #error_explanation
          h2 = "#{pluralize(@site.errors.count, "error")} prohibited this site from being saved:"
          ul
            - @site.errors.full_messages.each do |message|
              li = message

      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/select',
                  id: 'site-type',
                  form: f,
                  record: :siteable_type,
                  options: [['Donor', "Donor"], ['Recipient', "Recipient"], ['Hub', "Hub"]],
                  label: "Site Type", errors: @site.errors[:siteable_type],
                  default: @siteable_type
      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/text_field', form: f, record: :name, label: "Site Name", errors: @site.errors[:name]

      == render 'addresses/form', form: f

      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12
          == render 'components/text_area', form: f, record: :instructions, label: "Type instructions here", errors: @site.errors[:instructions]

      .mdc-layout-grid__inner
        .mdc-layout-grid__cell.mdc-layout-grid__cell--align-left.mdc-layout-grid__cell--span-12
          == render 'components/submit_button', form: f, label: "Submit"
          == render 'components/link_button', label: "Cancel", url: organization_sites_path, secondary: true
