.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h1 Sites
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    == render 'components/link_button', label: "Add Site", url: new_organization_site_path(@organization, siteable_type: @siteable_type)

.mdc-layout-grid__inner.mdc-layout-grid__space-around.tab-bar
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    == render 'components/tab/tab_bar' do
      == render 'components/tab/tab_button', label: "Donors", url: organization_sites_path(@organization, siteable_type: "Donor"), active: @siteable_type == "Donor", id: "mdc-tab-donors"
      == render 'components/tab/tab_button', label: "Recipients", url: organization_sites_path(@organization, siteable_type: "Recipient"), active: @siteable_type == "Recipient", id: "mdc-tab-recipients"
      == render 'components/tab/tab_button', label: "Hubs", url: organization_sites_path(@organization, siteable_type: "Hub"), active: @siteable_type == "Hub", id: "mdc-tab-hubs"

- if @sites.count.positive?
  .mdc-data-table.mdc-data-table__borderless
    .mdc-data-table__table-container
      table.mdc-data-table__table
        thead
          tr.mdc-data-table__header-row
            th.mdc-data-table__header-cellth.mdc-data-table__header-cell Name

        tbody.mdc-data-table__content
          - @sites.each do |site|
            - href = organization_site_path(@organization, site)
            tr.mdc-data-table__row
              == render 'components/clickable_tr', href: href
                = site.name
- else
  
    div.empty-message No sites to display.
