.mdc-layout-grid__inner.mdc-layout-grid__space-around
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    h2 = @site.name
  .mdc-layout-grid__cell.mdc-layout-grid__cell--align-middle
    .mdc-layout-grid__inner.mdc-layout-grid__space-around
      == render 'components/link_button', label: 'Edit', url: edit_organization_site_path(@organization, @site.id)
      == render 'components/link_button', label: 'Export Receipt', url: new_organization_receipt_path(@organization, site_id: @site.id)

.mdc-layout-grid__inner
  .mdc-layout-grid__cell
    p
      strong Role:
      br
      = @site.siteable_type
.mdc-layout-grid__inner
  .mdc-layout-grid__cell
    p
      strong Website:
      br
      a[href = @site.website] = @site.website
- if @site.address
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell
      p
        strong Address:
        br
        == render 'addresses/show', address: @site.address

- if @site.admin_notes.present?
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell
      p[style="white-space: pre-wrap"]
        strong Admin Notes:
        br
          = @site.admin_notes

- if @site.instructions.present?
  .mdc-layout-grid__inner
    .mdc-layout-grid__cell
      p[style="white-space: pre-wrap"]
        strong Volunteer Instructions:
        br
          = @site.instructions

