doctype 5
html
  head
    title Rootable
    link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
    link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"
    = stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_packs_with_chunks_tag "application", 'data-turbolinks-track': 'reload'
    = csrf_meta_tag
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"

  body id=(controller.controller_name) class=(controller.action_name)
    .body-container
      - if user_signed_in?
        .siderail
          - if current_user.administrates_multiple_orgs? && !(controller?("organizations") && (action_name == "index"))
            = link_to root_path
              button#organization.mdc-icon-button.material-icons[style="color: #F3AE29"]
                | keyboard_arrow_left
          - if @organization.present? && @organization.id.present?
            = link_to organization_path(@organization)
              button#organization.mdc-icon-button.material-icons class=((controller?("organizations") && (action_name == "show")) ? "siderail__button--active md-dark" : "md-light")
                div.custom-icon.rootable-icon
            = link_to organization_users_path(@organization)
              button#users.mdc-icon-button.material-icons class=(controller?("users") ? "siderail__button--active md-dark" : "md-light")
                div.custom-icon.users-icon
            = link_to organization_sites_path(@organization)
              button#sites.mdc-icon-button.material-icons class=(controller?("sites") ? "siderail__button--active md-dark" : "md-light")
                div.custom-icon.sites-icon
            = link_to organization_shifts_path(@organization, shift_category: "recurring")
              button#shifts.mdc-icon-button.material-icons class=(controller?("shifts") ? "siderail__button--active md-dark" : "md-light")
                div.custom-icon.shifts-icon

            button#logout-menu-toggle.mdc-icon-button.material-icons.md-light[aria-label="more menu"]
              div.custom-icon.settings-icon
              #logout-menu.mdc-menu.mdc-menu-surface
                ul.mdc-list[role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1"]
                  li.mdc-list-item[role="menuitem"]
                    span.mdc-list-item__ripple
                    span.mdc-list-item__text
                      = link_to "Edit Profile", edit_current_user_path(organization_id: @organization.id), id: 'edit-profile', :class => 'navbar-link'
                  li.mdc-list-item[role="menuitem"]
                    span.mdc-list-item__ripple
                    span.mdc-list-item__text
                      = link_to "Edit Organization", edit_organization_path(@organization), id: 'edit-org', :class => 'navbar-link'
                  li.mdc-list-item[role="menuitem"]
                    span.mdc-list-item__ripple
                    span.mdc-list-item__text
                      = link_to "Export Data", organization_csv_exporters_path(@organization), method: :get, :class => 'navbar-link'
                  li.mdc-list-item[role="menuitem"]
                    span.mdc-list-item__ripple
                    span.mdc-list-item__text
                      = link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'

          - else
            button#logout-menu-toggle.mdc-icon-button.material-icons.md-light
              div.custom-icon.settings-icon
              #logout-menu.mdc-menu.mdc-menu-surface
                ul.mdc-list[role="menu" aria-hidden="true" aria-orientation="vertical" tabindex="-1"]
                  li.mdc-list-item[role="menuitem"]
                    span.mdc-list-item__ripple
                    span.mdc-list-item__text
                      = link_to "Edit Profile", edit_current_user_path, id: 'edit-profile', :class => 'navbar-link'
                  li.mdc-list-item[role="menuitem"]
                    span.mdc-list-item__ripple
                    span.mdc-list-item__text
                      = link_to "Logout", destroy_user_session_path, method: :get, :class => 'navbar-link'

      main.container role="main"
        - flash.each do |name, msg|
          .alert role="alert"
            = raw(msg)
        .mdc-layout-grid
          = yield

      footer
        section
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-5.mdc-layout-grid__cell--align-middle
              = link_to "Food Rescue Alliance", "https://gitlab.com/food-rescue-alliance", class: "mdc-button"
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-7.mdc-layout-grid--align-right
              h4 = "Time Zone: #{Time.zone}"
