doctype 5
html
  head
    title Rootable
    link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
    link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"
    = stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_packs_with_chunks_tag "application", 'data-turbolinks-track': 'reload'
    = csrf_meta_tag
    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"

  body id=(controller.controller_name) class=(controller.action_name)
    div
      main role="main" 
        .mdc-layout-grid
          .mdc-layout-grid__inner
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4
              - flash.each do |name, msg|
                .alert role="alert"
                  = raw(msg)
              .mdc-layout-grid__inner style="margin-top: 4rem; justify-content: center; text-align: center;" 
                .mdc-layout-grid__cell.mdc-layout-grid__cell--span-12.mdc-layout-grid--align-center style="justify-content: center; text-align: center; margin-bottom: 3rem;"
                  img src="/rootable-stacked-dark.svg" alt="Rootable logo" width="45%" height="auto"/    
              = yield
            .mdc-layout-grid__cell.mdc-layout-grid__cell--span-4